@using SpaDay.ViewModels
@model AddUserViewModel

<h1>Sign Up</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user">
    <div class="form-group">
        @if (ViewBag.error == null)
        {
            <label asp-for="Username">User Name</label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        }
        else
        {
            <input type="text" name="username" value="@ViewBag.userName" />
        }
    </div>


    <div class="form-group">
        @if (ViewBag.error == null)
        {

            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        }
        else
        {
            <input type="email" name="email" value="@ViewBag.eMail" />
        }
    </div>

    <div class="form-group">


        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>

    </div>
    <div class="form-group">

        <label asp-for="VerifyPassword">Verify Password</label>
        <input type="password" asp-for="VerifyPassword" />
        <span asp-validation-for="VerifyPassword"></span>
    </div>
    <div class="form-group">
        <input type='submit' value='Submit'>
    </div>
</form>